extends ../layouts/default

block intro
	.container
		h1 Portfolio

block content
	.container
		.row
			#portfolio
				each item in data.portfolioItems
					.col-sm-4.portfolio-item
						a.portfolio-link(href="#{item.url}", target="_blank")
							.caption
								.caption-content: i.fa.fa-search-plus.fa-3x
							img.img-responsive(src=item._.image.fit(350,254))
						each tag in item.tags
							span.label.label-info.tag #{tag.name}
