extends ../layouts/default

block intro
	.container
		h1 Portfolio

block content
	.container
		.row
			#portfolio
				.col-sm-4.portfolio-item
					a.portfolio-link(href="https://github.com/sartios/MEAN-Stack", target="_blank")
						.caption
							.caption-content: i.fa.fa-search-plus.fa-3x
						img.img-responsive(src='images/portfolio/mean-stack.png')
					span.label.label-info.tag Node.js
					span.label.label-info.tag AngularJS
					span.label.label-info.tag Express
					span.label.label-info.tag MongoDB
				.col-sm-4.portfolio-item
					a.portfolio-link(href="https://github.com/sartios/MEAN-Stack", target="_blank")
						.caption
							.caption-content: i.fa.fa-search-plus.fa-3x
						img.img-responsive(src='images/portfolio/socket-io.png')
					span.label.label-info.tag Node.js
					span.label.label-info.tag Socket.IO
				.col-sm-4.portfolio-item
					a.portfolio-link(href="https://github.com/sartios/MEAN-Stack", target="_blank")
						.caption
							.caption-content: i.fa.fa-search-plus.fa-3x
						img.img-responsive(src='images/portfolio/electron.png')
					span.label.label-info.tag Node.js
					span.label.label-info.tag Electron
